{% extends 'frame.html' %}
{% load assets %}

{% block head %}
  {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  <title>
    {% block title %}
      Horizon Scanning Tool
    {% endblock %}
  </title>
{% endblock %}


{% block zope_content %}

  <div class="content clearfix">
    <h1>Horizon Scanning Tool</h1>
  	{% include '_nav.html' %}

    {% block content %}{% endblock %}
  </div>

  {% assets "js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
	{% block scripts %}{% endblock %}

{% endblock %}
