{% load utils %}

<ul class="nav nav-tabs">

  <li class="{% active '$' %}">
    <a href="{% url 'home_view' %}">Home</a>
  </li>

  <li class="{% active 'docs/(.*)$' %}">
    <a href="{%  url 'drivers_list' %}">Drivers of Change</a>
  </li>
  <li class="{% active 'indicators/(.*)$' %}">
    <a href="{% url 'indicators_list' %}">Indicators</a>
  </li>
  <li class="{% active 'sources/(.*)$' %}">
    <a href="{% url 'sources_list' %}">Sources</a>
  </li>
  <li class="{% active 'figures/(.*)$' %}">
    <a href="#">Facts & Figures</a>
  </li>

	<li class="{% active 'settings/(.+)$' %} pull-right">
		<a class="dropdown-toggle" data-toggle="dropdown">
			Settings <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li>
				<a href="{% url 'settings:countries_list' %}">
					Countries
				</a>
			</li>
			<li>
				<a href="{% url 'settings:geo_scopes_list' %}">
					Geographical scales
				</a>
			</li>
		</ul>
	</li>

</ul>
