{% load utils %}

<ul class="nav nav-tabs">

  <li class="{% active '$' %}" >
    <a href="{% url 'home_view' %}">Home</a>
  </li>

  {% if user.is_authenticated %}
    <li class="{% active 'docs/(.*)$' %}">
      <a href="{% url 'drivers:list' %}">Drivers of Change</a>
    </li>
    <li class="{% active 'assessments/(.*)$' %} {% active 'assessments/(.*)$' %}">
      <a href="{% url 'assessments:list' %}">Drivers of Change Assessments</a>
    </li>
  {% endif %}

  {% get_metadata_url as metadata_url %}
  {% if perms.hstool.config %}
  <li class="item pull-right">
      <a class="dropdown-toggle btn" data-toggle="dropdown">
        Menu <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="{% active 'implications/(.*)$' %}">
        <a href="{% url 'implications:list' %}">Implications</a>
      </li>
      <li class="{% active 'sources/(.*)$' %}">
       <a href="{% url 'sources:list' %}">Sources</a>
      </li>
      <li class="{% active 'figures/(.*)$' %}">
        <a href="{% url 'figures:list' %}">Facts and Figures</a>
      </li>
      <li class="{% active 'impacts/(.*)$' %}">
        <a href="{% url 'impacts:list' %}">Impacts</a>
      </li>
      <li class="{% active 'indicators/(.*)$' %}">
        <a href="{% url 'indicators:list' %}">Indicators</a>
      </li>
      <li class="{% active 'entries/(.*)$' %}">
        <a href="{% url 'entries:list' %}">My entries</a>
      </li>

      <li class="divider"></li>

      <li class="{% active 'settings/roles(.*)$' %}">
        <a href="{% url 'settings:roles' %}">Settings - Roles</a>
      </li>

      <li  class="{% active 'settings/metadata(.*)$' %}">
        <a href="{% url 'settings:metadata:steep_category:list' %}">Settings - Common
		  metadata</a>
      </li>
    </ul>
  </li>
  {% endif %}

</ul>
