{% extends '_layout.html' %}

{% block title %}Confirm Deletion{% endblock %}

{% block content %}
	<div class="container-fluid">
    <br/><br/>
		<h4>Are you sure you want to delete "<strong>{{ object }}</strong>" permanently?</h4>
		<form class="form-signin" role="form" method="POST">
      {% csrf_token %}
			<button class="btn btn-primary" type="submit">Yes</button>
			<a  class="btn btn-link" href="{{ view.get_success_url }}" type="submit" name="cancel">Cancel</a>
    </form>

  </div>
{% endblock %}
