{% extends '_layout.html' %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block title %}Add/Edit Assessment{% endblock %}

{% block content %}

	<div class="container-fluid" id="view">

		<h2 class="page-header">Add/Edit Assessment</h2>

		<form method="POST" class="form-horizontal">
			{% csrf_token %}

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.title|label }}
				</label>
				<div class="controls col-sm-10">
					{% render_field form.title class='form-control' %}
					{{ form.title.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.description|label }}
				</label>
				<div class="controls col-sm-10">
					{% render_field form.description class='form-control' %}
					{{ form.description.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.geographical_scope|label }}
				</label>
				<div class="controls col-sm-4">
					{% url 'settings:geo_scopes_required' as required_url %}
					{% render_field form.geographical_scope class='form-control' id="geo_scope" href=required_url %}
					{{ form.geographical_scope.errors }}
				</div>
			</div>

			<div class="form-group"  {% if not required %}id="invisible"{% endif %}>
				<label class="col-sm-2 control-label">{{ form.country|label:"True" }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.country class='form-control' %}
					{{ form.country.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.url|label }}
				</label>
				<div class="controls col-sm-10">
					{% render_field form.url class='form-control' %}
					{{ form.url.errors }}
				</div>
			</div>

			<div class="controls hidden">
				{% render_field form.draft %}
			</div>

			<div class="form-actions">
				<div class="col-sm-offset-2">
					<button type="submit" name="draft" value="false"
									class="btn btn-primary">Publish</button>
					<button type="submit" name="draft" value="true"
									class="btn btn-default">Save as draft</button>
					<a href="{% if assessment.pk %}{{ view.get_success_url }}{% else %}{% url 'home_view' %}{% endif %}"
						 class="btn btn-link" role="button">Cancel</a>
				</div>
			</div>

		</form>
	</div>

{% endblock %}
