{% extends 'tool/_list_as_table.html' %}

{% block title %}Assessments list{% endblock %}

{% block content %}
  <div class="container-fluid">
    {% if not user.is_authenticated %}
      <p class="lead">The application is not available to anonymous users, please login.</p>
    {% else %}
      {% if perms.hstool.create %}
      <a class="btn btn-primary" href="{% url 'assessments:add' %}">
        AddAssessment</a>
      </br>
      {% endif %}

      <table id="objects_listing"
             class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
          <th>Title</th>
          <th style="width: 60%;">Description</th>
          <th>Added by</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for assessment in assessments %}
          <tr>
            <td>
              <a href="{% url 'assessments:detail' assessment.id %}">{{ assessment.title }}</a>
            </td>
            <td>{{ assessment.description }}</td>
            <td>{{ assessment.author_id }}</td>
            <td>
              <a href="{% url 'assessments:delete' assessment.id %}?next={% url 'home_view' %}">
                <span class="glyphicon glyphicon-remove"></span> Delete
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
{% endblock %}
