{% extends '_layout.html' %}

{% block content %}
  <div class="container">
    <h1>{{ assessment.title }}</h1>

    <div class="row">

      <div class="col-sm-6">
        <p>{{ assessment.description }}</p>
      </div>

      <div class="col-sm-6">
          <a href="{% url 'assessments:update' assessment.id %}?next={% url 'home_view' %}" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-pencil"></span> &nbsp;
            Edit </a>
      </div>
    </div>

    <div class="actions">
      <a href="#" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-plus"></span> &nbsp;
          Add relation</a>
      <a href="#" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-th-list"></span> &nbsp;
          List relations</a>
    </div>
</div>
{% endblock %}
