{% extends '_layout.html' %}
{% load custom_filters %}

{% block content %}
	<div class="container-fluid" id="view">

		<h2 class="page-header">{{ assessment.title }}</h2>

		<div class="assessment-content">
			<p>{{ assessment.description }}</p>
			<a style="float:right;" class="btn btn-primary btn-sm" href="{% url 'assessments:update' assessment.id %}">
				<span class="glyphicon glyphicon-pencil"></span> &nbsp;
				Edit
			</a>
		</div>
		<a class="btn btn-primary btn-sm" href="{% url 'assessments:detail' assessment.id %}">See Assessment</a>
		<hr>

		<div>
			<h4>Relations</h4>
			<a id="add-relation" href="{% url 'relations:add' assessment.id %}" class="btn btn-primary btn-sm">
				<span class="glyphicon glyphicon-plus"></span> &nbsp;
				Add relation
			</a>
			<br/><br/>
			{% if not assessment.relations.all %}
				<p><em>There are no relations defined in this assessment</em></p>
			{% else %}
				<table id ="objects_listing" class="table table-condensed table-bordered table-hover">
					<thead>
					<tr>
						<th>Source</th>
						<th>Type</th>
						<th>Destination</th>
						<th></th>
						<th></th>
					</tr>
					</thead>

					<tbody>
					{% for relation in assessment.relations.all %}
						<tr>
							<td>{{ relation.source }}</td>
							<td>{{ relation.relationship_type|verbose }}</td>
							<td>{{ relation.destination }}</td>
							<td>
								<a href="{% url 'relations:update' assessment.pk relation.id %}">
									<span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
								</a>
							</td>
							<td>
								<a id="delete" href="{% url 'relations:delete' assessment.pk relation.id %}">
									<span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
								</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				</div>
			{% endif %}

	</div>
{% endblock %}
