{% extends '_layout.html' %}

{% block content %}
  <div class="container-fluid" id="view">

    <h2 class="page-header">{{ assessment.title }}</h2>

    <div class="row assessment-content">
      <div class="col-sm-8">
        <p>{{ assessment.description }}</p>
      </div>
    </div>

    <div>
      <h3>Relations</h3>

      <table id ="objects_listing" class="table table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>Source</th>
                <th>Destination</th>
                <th>Type</th>
            </tr>
        </thead>

        <tbody>
        {% for relation in relations %}
            <tr>
                <td>{{ relation.source }}</td>
                <td>{{ relation.destination }}</td>
                <td>{{ relation.relationship_type }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
{% endblock %}
