{% extends '_layout.html' %}
{% load custom_filters %}

{% block content %}
  <div class="container-fluid" id="view">

    <h2 class="page-header">{{ assessment.title }}</h2>

    <div class="assessment-content">

      <p>{{ assessment.description }}</p>

    </div>

    <div class="actions">
      <a href="{% url 'relations:add' assessment.id %}" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-plus"></span> &nbsp;
          Add relation</a>
      <a href="{% url 'assessments:update' assessment.id %}?next={% url 'home_view' %}" class="btn btn-primary btn-sm pull-right">
          <span class="glyphicon glyphicon-pencil"></span> &nbsp;
            Edit </a>
    </div>

    <div>
      <h3>Relations</h3>

      <table id ="objects_listing" class="table table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>Type</th>
                <th>Source</th>
                <th>Destination</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        {% for relation in relations %}
            <tr>
                <td>
                  <a href="{% url 'relations:update' relation.id %}">{{ relation.relationship_type|verbose }}</a>
                </td>
                <td>{{ relation.source.short_name }}</td>
                <td>{{ relation.destination.short_name }}</td>
                <td>
                  <a id="delete" href="{% url 'relations:delete' relation.id %}">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                  </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
{% endblock %}
