{% extends 'tool/_list_as_table.html' %}

{% block title %}Assessments list{% endblock %}

{% block content %}
  <div class="container-fluid">
    </br>
    {% if not user.is_authenticated %}
      <p>The application is not available to anonymous users, please login.</p>
    {% else %}
      {% if perms.hstool.create %}
      <a class="btn btn-primary" href="{% url 'assessments:add' %}">
        Add Assessment</a>
      </br>
      {% endif %}

      <table id="objects_listing"
             class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Added by</th>
          <th>Added at</th>
          <th>Status</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for assessment in assessments %}
          <tr>
            <td>
              <a href="{% url 'assessments:detail' assessment.id %}">{{ assessment.title }}</a>
            </td>
            <td>{{ assessment.description|truncatewords:12 }}</td>
            <td>{{ assessment.author_id }}</td>
            <td>{{ assessment.added }}</td>
            <td>{{ assessment.draft|yesno:"Draft,Published" }}</td>
            <td>
              <a id="delete" href="{% url 'assessments:delete' assessment.id %}">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
{% endblock %}
