{% extends '_layout.html' %}
{% load custom_filters %}

{% block title %}Add new Country{% endblock %}

{% block content %}
	<div class="container">

		<form method="POST" class="form">
			{% csrf_token %}
			<div class="form-group">
				{{ form.iso.errors }}<br/>
				{{ form.iso|label }}<br/>
				{{ form.iso }}
			</div>
			<div class="form-group">
				{{ form.name.errors }}<br/>
				{{ form.name|label }}<br/>
				{{ form.name }}
			</div>
			<input class="btn btn-success" type="submit" value="Save">
		</form>
	</div>
{% endblock %}
