{% extends '_layout.html' %}
{% load custom_filters %}

{% block title %}Add/Edit Country{% endblock %}

{% block content %}
	<div class="container">
    <h3>Add/Edit Country</h3>
		<br/>
		<form method="POST" class="form">
			{% csrf_token %}
			<div class="form-group">
				{{ form.name.errors }}<br/>
				{{ form.name|label }}<br/>
				{{ form.name }}
			</div>
      <a class="btn btn-success" href="{% url 'settings:countries_list' %}">Back</a>
			<input class="btn btn-success col-sm-offset-1" type="submit" value="Save">
		</form>
	</div>
{% endblock %}
