{% extends '_layout.html' %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block title %}Edit Country{% endblock %}

{% block content %}
	<div class="container-fluid" id="view">

		<h2 class="page-header">Edit Country</h2>
		<form method="POST" class="form-horizontal">
			{% csrf_token %}

            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form.name|label }}
                </label>
                <div class="col-sm-4">
                    {% render_field form.name class='form-control' %}
                    {{ form.name.errors }}
                </div>
            </div>

            <div class="form-actions">
                <div class="col-sm-offset-2">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <small>or
                        <a href="{% url 'settings:countries_list' %}">Cancel</a>
                    </small>
                </div>
            </div>

		</form>
	</div>
{% endblock %}
