{% extends '_layout.html' %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block scripts %}

   <script>
     $(window).load(function() {
        if ($('#id_type').val() != '1') {
            $('[data-show-if=trends]').addClass('hide');
        }
        if ($('#id_type').val() != '2') {
            $('[data-show-if=uncertainties]').addClass('hide');
        }
     });

     $('#id_type').on('change', function () {
        switch($(this).val()) {
            case '1':
                $('[data-show-if=trends]').removeClass('hide');
                $('[data-show-if=uncertainties]').addClass('hide');
                break;
            case '2':
                $('[data-show-if=uncertainties]').removeClass('hide');
                $('[data-show-if=trends]').addClass('hide');
                break;
            default:
                $('[data-show-if=trends]').addClass('hide');
                $('[data-show-if=uncertainties]').addClass('hide');
        }
     }).change();
   </script>

{% endblock %}


{% block title %}Add/Edit Driver of Change{% endblock %}

{% block content %}
	<div class="container-fluid" id="view">

		<h2 class="page-header">Add/Edit Driver of Change</h2>
		<form method="POST" class="form-horizontal">
			{% csrf_token %}

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.type|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.type class='form-control' %}
					{{ form.type.errors }}
				</div>
			</div>

			<div class="form-group" data-show-if="trends">
				<label class="col-sm-2 control-label">{{ form.trend_type|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.trend_type class='form-control' %}
					{{ form.trend_type.errors }}
				</div>
			</div>

      <div class="form-group" data-show-if="uncertainties">
				<label class="col-sm-2 control-label">{{ form.uncertainty_type|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.uncertainty_type class='form-control' %}
					{{ form.uncertainty_type.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.geographical_scope|label }}
				</label>
				<div class="controls col-sm-4">
					{% url 'settings:geo_scopes_required' as required_url %}
					{% render_field form.geographical_scope class='form-control' id="geo_scope" href=required_url %}
					{{ form.geographical_scope.errors }}
				</div>
			</div>

			<div class="form-group" id={% if not required %}"invisible"{% else %}"visible"{% endif %}>
				<label class="col-sm-2 control-label">{{ form.country|label:"True" }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.country class='form-control' %}
					{{ form.country.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.steep_category|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.steep_category class='form-control' %}
					{{ form.steep_category.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.time_horizon|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.time_horizon class='form-control' %}
					{{ form.time_horizon.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.short_name|label }}
				</label>
				<div class="controls col-sm-10">
					{% render_field form.short_name class='form-control' %}
					{{ form.short_name.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.name|label }}
				</label>
				<div class="controls col-sm-10">
					{% render_field form.name class='form-control' %}
					{{ form.name.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.summary|label }}
				</label>
				<div class="controls col-sm-10">
					{% render_field form.summary class='form-control' %}
					{{ form.summary.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.sources|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.sources class='form-control' %}
					{{ form.sources.errors }}
				</div>
				<div class="col-sm-2">
					<a class="btn btn-primary launch-modal" data-toggle="modal"
							 data-target="#myModal"
							 data-action="{% url 'modals:add' 'sources'%}"
							 data-title="Add new Source"
							 data-backdrop="static">
						<span class="glyphicon glyphicon-plus"></span>  &nbsp;
						Add new source
					</a>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.figures|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.figures class='form-control' %}
					{{ form.figures.errors }}
				</div>
				<div class="col-sm-2">
					<a class="btn btn-primary launch-modal" data-toggle="modal"
							 data-target="#myModal"
							 data-action="{% url 'modals:add' 'figures'%}"
							 data-title="Add new Fact & Figure"
							 data-backdrop="static">
						<span class="glyphicon glyphicon-plus"></span>  &nbsp;
						Add new fact & figure
					</a>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.url|label }}
				</label>
				<div class="controls col-sm-10">
					{% render_field form.url class='form-control' %}
					{{ form.url.errors }}
				</div>
			</div>

			<div class="form-actions">
				<div class="col-sm-offset-2">
					<button class="btn btn-primary" type="submit">Save</button>
					<small>or
						<a href="{% url 'drivers:list' %}">Cancel</a>
					</small>
				</div>
			</div>

		</form>
	</div>
	{% include 'modals/_form.html' %}

{% endblock %}
