{% extends 'tool/_list_as_table.html' %}

{% block title %}Drivers list{% endblock %}

{% block content %}
	<div class="container-fluid">
		</br>
	  <a class="btn btn-primary" href="{% url 'drivers:add' %}">Add Driver of Change</a>
		</br>

		<table id ="objects_listing" class="table table-condensed table-bordered table-hover">
			<thead>
			<tr>
				<th>Long name</th>
				<th>Type of driver of change</th>
				<th>Type of trend</th>
				<th>STEEP category</th>
				<th>Time horizon</th>
				<th>Country</th>
				<th>Added by</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			{% for driver in drivers %}
				<tr>
					<td>
						<a href="{% url 'drivers:update' driver.id %}">{{ driver.name }}</a>
					</td>
					<td>{{ driver.get_type_display }}</td>
					<td>{{ driver.get_trend_type_display }}</td>
					<td>{{ driver.get_steep_category_display }}</td>
					<td>{{ driver.get_time_horizon_display }}</td>
					<td>{{ driver.country }}</td>
					<td>{{ driver.author_id }}</td>
					<td nowrap>
						<a id="delete" href="{% url 'drivers:delete' driver.id %}?next={% url 'drivers:list' %}">
							<span class="glyphicon glyphicon-remove"></span> Delete
						</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
