{% extends '_layout.html' %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block title %}Add/Edit Driver of Change{% endblock %}

{% block content %}
	<div class="container-fluid" id="view">

		<h2 class="page-header">Add/Edit Driver of Change</h2>
		<form method="POST" class="form-horizontal">
			{% csrf_token %}

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.type|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.type class='form-control' %}
					{{ form.type.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.trend_type|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.trend_type class='form-control' %}
					{{ form.trend_type.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.geographical_scope|label }}
				</label>
				<div class="controls col-sm-4">
					{% url 'settings:geo_scopes_required' as required_url %}
					{% render_field form.geographical_scope class='form-control' id="geo_scope" href=required_url %}
					{{ form.geographical_scope.errors }}
				</div>
			</div>

			<div class="form-group" {% if not required %}id="invisible"{% endif %}>
				<label class="col-sm-2 control-label">{{ form.country|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.country class='form-control' %}
					{{ form.country.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.steep_category|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.steep_category class='form-control' %}
					{{ form.steep_category.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.time_horizon|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.time_horizon class='form-control' %}
					{{ form.time_horizon.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.short_name|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.short_name class='form-control' %}
					{{ form.short_name.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.name|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.name class='form-control' %}
					{{ form.name.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.summary|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.summary class='form-control' %}
					{{ form.summary.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.sources|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.sources class='form-control' %}
					{{ form.sources.errors }}
				</div>
				<div class="col-sm-2">
					<a class="btn btn-primary launch-modal" data-toggle="modal"
							 data-target="#myModal"
							 data-action="{% url 'add_modal' 'sources'%}"
							 data-title="Add new Source">
						<span class="glyphicon glyphicon-plus"></span>  &nbsp;
						Add new source
					</a>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.figures|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.figures class='form-control' %}
					{{ form.figures.errors }}
				</div>
				<div class="col-sm-2">
					<a class="btn btn-primary launch-modal" data-toggle="modal"
							 data-target="#myModal"
							 data-action="{% url 'add_modal' 'figures'%}"
							 data-title="Add new Source">
						<span class="glyphicon glyphicon-plus"></span>  &nbsp;
						Add new fact & figure
					</a>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.url|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.url class='form-control' %}
					{{ form.url.errors }}
				</div>
			</div>

			<div class="form-actions">
				<div class="col-sm-offset-2">
					<button class="btn btn-primary" type="submit">Save</button>
					<small>or
						<a href="{% url 'drivers:list' %}">Cancel</a>
					</small>
				</div>
			</div>

		</form>
	</div>
	{% include '_modal.html'%}

{% endblock %}
