{% extends 'tool/_list_as_table.html' %}

{% block title %}Facts and Figures list{% endblock %}

{% block content %}
	<div class="container-fluid">
		</br>
		<a class="btn btn-primary" href="{% url 'figures:add' %}">Add Fact & Figure</a>
		</br>

		<table id ="objects_listing" class="table table-condensed table-bordered table-hover">
			<thead>
			<tr>
				<th>Title</th>
				<th>Added by</th>
				<th></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			{% for figure in figures %}
				<tr>
					<td>{{ figure.title }}</td>
					<td>{{ figure.author_id }}</td>
					<td>
						<a href="{% url 'figures:update' figure.id %}">
							<span class="glyphicon glyphicon-pencil"></span> &nbsp;
							Edit
						</a>
					</td>
					<td>
						<a href="{% url 'figures:delete' figure.id %}?next={% url 'figures:list' %}">
							<span class="glyphicon glyphicon-remove"></span> Delete
						</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
