{% extends '_layout.html' %}
{% load custom_filters %}

{% block title %}Add new Driver of Change{% endblock %}

{% block content %}
	{% include '_nav.html' %}

	<form method="POST" class="form" role="form">
		{% csrf_token %}
		<div class="form-group">
			{{ form.title|label }}<br/>
			{{ form.title }}
		</div>
		<div class="form-group">
			{{ form.require_country|label }}<br/>
			{{ form.require_country }}
		</div>
		<input class="btn btn-success" type="submit" value="Save">
	</form>
{% endblock %}
