{% extends 'tool/_list_as_table.html' %}

{% block title %}Geographical Scales list{% endblock %}

{% block content %}
	<div class="container-fluid">
		</br>
    <a class="btn btn-primary" href="{% url 'settings:geo_scopes_add' %}?next={% url 'settings:geo_scopes_list' %}">Add Geographical Scale</a>
		</br>

		<table id ="objects_listing" class="table table-condensed table-bordered table-hover">
			<thead>
			<tr>
				<th>Title</th>
				<th>Require country</th>
				<th></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			{% for geo_scope in geo_scopes %}
				<tr>
					<td>{{ geo_scope.title }}</td>
					<td>{{ geo_scope.require_country }}</td>
					<td>
						<a href="{% url 'settings:geo_scopes_update' geo_scope.id %}?next={% url 'settings:geo_scopes_list' %}">EDIT</a>
					</td>
					<td>
						<a href="{% url 'settings:geo_scopes_delete' geo_scope.id %}?next={% url 'settings:geo_scopes_list' %}">DELETE</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
