{% extends '_layout.html' %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block scripts %}
<script>
  var formset = {};
  $(function() {
    $('#extra_form').click(function() {
      formset.$total = $('#id_indicatorfiles_set-TOTAL_FORMS');
      formset.$initial = $('#id_indicatorfiles_set-INITIAL_FORMS');
      formset.templateRowStr = $('#form-template').html();

      formset.newTotal = parseInt(formset.$total.val());
      formset.appendRowStr = formset.templateRowStr.replace(/__prefix__/g, formset.newTotal);
      formset.$total.val(formset.newTotal + 1);
      if (formset.newTotal >= 4) {
      	document.getElementById('extra_form').style.visibility = 'hidden';
      }
      if (formset.newTotal < 5) {
      	$('#form_set').append(formset.appendRowStr);
      }
    });
  });
</script>

<script type="text/template" id="form-template">
	<label class="col-sm-2 control-label">New file</label>
	<p class="controls col-sm-10">
    	{{ empty_form.file }}
  	</p>
</script>

{% endblock %}

{% block title %}Add/Edit Indicator{% endblock %}

{% block content %}

	<div class="container-fluid" id="view">

		<h2 class="page-header">Add/Edit Indicator</h2>

		<form method="POST" class="form-horizontal" enctype="multipart/form-data">
			{% csrf_token %}

		<fieldset class="well">
			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.name|label }}
				</label>
				<div class="controls col-sm-10">
					{% render_field form.name class='form-control' %}
					{{ form.name.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.theme|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.theme class='form-control' %}
					{{ form.theme.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.geographical_scope|label }}
				</label>
				<div class="controls col-sm-4">
					{% url 'settings:geo_scopes_required' as required_url %}
					{% render_field form.geographical_scope class='form-control' id="geo_scope" href=required_url %}
					{{ form.geographical_scope.errors }}
				</div>
			</div>

			<div class="form-group" id={% if not required %}"invisible"{% else %}"visible"{% endif %}>
				<label class="col-sm-2 control-label">{{ form.country|label:"True" }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.country class='form-control' %}
					{{ form.country.errors }}
				</div>

				</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.start_date|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.start_date class='form-control' %}
					{{ form.start_date.errors }}
				</div>
			</div>

            <div class="form-group">
				<label class="col-sm-2 control-label">{{ form.end_date|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.end_date class='form-control' %}
					{{ form.end_date.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.sources|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.sources class='form-control' %}
					{{ form.sources.errors }}
				</div>
				<div class="col-sm-2">
					<a class="btn btn-primary launch-modal" data-toggle="modal"
							 data-target="#myModal"
							 data-action="{% url 'modals:add' 'sources'%}"
							 data-title="Add new Source"
							 data-backdrop="static">
						<span class="glyphicon glyphicon-plus"></span>  &nbsp;
						Add new source
					</a>
				</div>
			</div>
        </fieldset>

		<fieldset class="well">
			<legend>Indicator assessment</legend>
			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.assessment|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.assessment class='form-control' %}
					{{ form.assessment.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.assessment_author|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.assessment_author class='form-control' %}
					{{ form.assessment_author.errors }}
				</div>
			</div>

			<div class="form-group">
				{{ files_form.management_form }}
                {{ files_form.non_form_errors }}
				<div id="form_set">
                {% for form_elem in files_form.forms %}
					<label class="col-sm-2 control-label"> File {{ forloop.counter }}</label>
                    <p class="controls col-sm-10">
                        {{ form_elem.file }}
						{{ form_elem.errors }}
                    </p>
					{% for hidden in form_elem.hidden_fields %}
        				{{ hidden }}
    				{% endfor %}
				{% endfor %}
				</div>
				<label class="col-sm-2 control-label"></label>
				<input type="button" id="extra_form" value="Add more"
					   class="btn btn-primary">

				</div>
			</div>


		</fieldset>


			<div class="controls hidden">
				{% render_field form.draft %}
			</div>

			{% include '_footer.html' with cancel_url='indicators:list' %}
		</form>
	</div>
	{% include 'modals/_form.html' %}

{% endblock %}