{% extends '_layout.html' %}

{% block title %}Add new indicator{% endblock %}

{% block content %}
  {% include '_nav.html' %}

	</br>

	<form method="POST" class="form">
		{% csrf_token %}
		<div class="form-group">
      {{ form.theme.label_tag }}<br/>
      {{ form.theme }}
    </div>
    <div class="form-group">
      {{ form.short_name.label_tag }}<br/>
      {{ form.short_name }}
    </div>
    <div class="form-group">
      {{ form.name.label_tag }}<br/>
      {{ form.name }}
    </div>
    <div class="form-group">
      {{ form.geographical_scope.label_tag }}
      {{ form.geographical_scope }}&ensp;&ensp;&ensp;&ensp;
      {{ form.country.label_tag }}
      {{ form.country }}
    </div>
    <div class="form-group">
			<p><strong>Timeline*</strong></p>
      {{ form.year_base.label_tag }}
      {{ form.year_base }}&ensp;&ensp;&ensp;&ensp;
      {{ form.year_end.label_tag }}
      {{ form.year_end }}&ensp;&ensp;&ensp;&ensp;
      {{ form.timeline.label_tag }}
      {{ form.timeline }}
    </div>
    <div class="form-group">
      {{ form.sources.label_tag }}<br/>
      {{ form.sources }}
    </div>
    <div class="form-group">
      {{ form.figures.label_tag }}<br/>
      {{ form.figures }}
    </div>
    <div class="form-group">
      {{ form.url.label_tag }}<br/>
      {{ form.url }}
    </div>
	  <input class="btn btn-success" type="submit" value="Save">
	</form>
{% endblock %}
