{% extends '_layout.html' %}
{% load custom_filters %}
{% load widget_tweaks %}



{% block content %}
    <div class="container-fluid" id="view">

        {% if object %}
            <h2 class="page-header">Edit relation</h2>
        {% else %}
            <h2 class="page-header">Add a new relation</h2>
        {% endif %}

        <form method="POST" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form.source|label }}
                </label>
                <div class="col-sm-4">
                    {% render_field form.source class='form-control' %}
                    {{ form.source.errors }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form.destination|label }}
                </label>
                <div class="col-sm-4">
                    {% render_field form.destination class='form-control' %}
                    {{ form.destination.errors }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form.relationship_type|label }}
                </label>
                <div class="col-sm-4">
                    {% render_field form.relationship_type class='form-control' %}
                    {{ form.relationship_type.errors }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form.description|label }}
                </label>
                <div class="col-sm-4">
                    {% render_field form.description class='form-control' %}
                    {{ form.description.errors}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form.figures|label }}
                </label>
                <div class="col-sm-4">
                    {% render_field form.figures class='form-control' %}
                    {{ form.figures.errors}}
                </div>

                <div class="col-sm-2">
                    <a class="btn btn-primary launch-modal" data-toggle="modal"
                             data-target="#myModal"
                             data-action="{% url 'modals:add' 'figures'%}"
                             data-title="Add new Figure">
                    <span class="glyphicon glyphicon-plus"></span> &nbsp;
                        Add new fact & figure
                    </a>
                </div>
            </div>

            <div class="form-actions">
                <div class="col-sm-offset-2">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <small>or
                        <a href="{% url 'assessments:preview' assessment.id %}">Cancel</a>
                    </small>
                </div>
            </div>

        </form>

    </div>
    {% include 'modals/_form.html' %}
{% endblock %}
