{% extends 'tool/_list_as_table.html' %}

{% block title %}Sources list{% endblock %}

{% block content %}
  {% include '_nav.html' %}

	</br>
	<form action="{% url 'sources_add' %}">
    <input type="submit" value="Add source">
  </form>
	</br>

  <table id = 'objects_listing' class="table table-condensed table-bordered table-hover">
    <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Author</th>
      <th>Added by</th>
    </tr>
    </thead>
    <tbody>
    {% for source in sources %}
    <tr>
      <td>{{ source.title }}</td>
      <td>{{ source.published_year }}</td>
      <td>{{ source.author }}</td>
      <td>{{ source.author_id }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
