{% extends '_layout.html' %}
{% load widget_tweaks %}
{% load custom_filters %}

{% block title %}Add/Edit Source{% endblock %}

{% block content %}

	<div class="container-fluid" id="view">

		<h2 class="page-header">Add/Edit Source</h2>

		<form class="form-horizontal" method="POST" enctype="multipart/form-data">
			{% csrf_token %}

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.name|label }}
				</label>
				<div class="controls col-sm-10">
					{% render_field form.name class='form-control' %}
					{{ form.name.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.title_original|label }}
				</label>
				<div class="controls col-sm-10">
					{% render_field form.title_original class='form-control' %}
					{{ form.title_original.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.published_year|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.published_year class='form-control' %}
					{{ form.published_year.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.author|label }}
				</label>
				<div class="controls col-sm-10">
					{% render_field form.author class='form-control' %}
					{{ form.author.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.url|label }}
				</label>
				<div class="controls col-sm-10">
					{% render_field form.url class='form-control' %}
					{{ form.url.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.file|label }}
				</label>
				<div class="controls col-sm-4">
					{% render_field form.file %}
					{{ form.file.errors }}
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">{{ form.summary|label }}
				</label>
				<div class="controls col-sm-10">
					{% render_field form.summary class='form-control' %}
					{{ form.summary.errors }}
				</div>
			</div>

			<div class="controls hidden">
				{% render_field form.draft %}
			</div>

			{% include '_footer.html' with cancel_url='sources:list' %}
		</form>
	</div>
{% endblock %}
