{% extends '_layout.html' %}
{% load custom_filters %}

{% block title %}Add/Edit Source{% endblock %}

{% block content %}
	<div class="container-fluid">
		<h3>Add/Edit Source</h3>
		<br/>
		<form class="form" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.non_field_errors }}
			{% for field in form %}
				<div class="form-group">
					{{ field.errors }}
					{{ field|label }}
					{{ field }}
				</div>
			{% endfor %}
			<input class="btn btn-success" type="submit" value="Save">
			<a class="btn btn-link" href="{% url 'sources:list' %}">Back</a>
		</form>
	</div>
{% endblock %}
