{% extends 'tool/_list_as_table.html' %}

{% block title %}Sources list{% endblock %}

{% block content %}
	<div class="container-fluid">
		</br>
		  <a class="btn btn-primary" href="{% url 'sources:add' %}">Add Source</a>
		</br>

		<table id = 'objects_listing' class="table table-condensed table-bordered table-hover">
			<thead>
			<tr>
				<th>Title</th>
				<th>Year</th>
				<th>Author</th>
				<th>Added by</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			{% for source in sources %}
				<tr>
					<td><a href="{% url 'sources:update' source.id %}">
						{{ source.title }}</a></td>
					<td>{{ source.published_year }}</td>
					<td>{{ source.author }}</td>
					<td>{{ source.author_id }}</td>
					<td>
						<a href="{% url 'sources:delete' source.id %}?next={% url 'sources:list' %}">
							<span class="glyphicon glyphicon-remove"></span> Delete
						</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
