{% extends 'tool/_list_as_table.html' %}

{% block title %}Sources list{% endblock %}

{% block content %}
	<div class="container-fluid">
		</br>
		  <a class="btn btn-primary" href="{% url 'sources_add' %}?next={% url 'sources_list' %}">Add Source</a>
		</br>

		<table id = 'objects_listing' class="table table-condensed table-bordered table-hover">
			<thead>
			<tr>
				<th>Title</th>
				<th>Year</th>
				<th>Author</th>
				<th>Added by</th>
				<th></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			{% for source in sources %}
				<tr>
					<td>{{ source.title }}</td>
					<td>{{ source.published_year }}</td>
					<td>{{ source.author }}</td>
					<td>{{ source.author_id }}</td>
					<td>
						<a href="{% url 'sources_update' source.id %}?next={% url 'sources_list' %}">EDIT</a>
					</td>
					<td>
						<a href="{% url 'sources_delete' source.id %}?next={% url 'sources_list' %}">DELETE</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
