cssmin==0.2.0
Django==2.2.24
django-assets==0.12
django-braces==1.9.0
django-widget-tweaks==1.4.1
eea.flis.metadata==0.6.1
eea.frame==0.5.3
gunicorn==19.6.0
jsmin==2.2.1
psycopg2==2.6.2
raven==5.27.1
requests==2.11.1
webassets==0.12.0
