{% extends 'tool/_list_as_table.html' %}

{% block title %}Drivers list{% endblock %}

{% block content %}

	<div class="container-fluid">
		</br>
		<a class="btn btn-primary" href="{% url 'settings:countries_add' %}">Add Country</a>
		</br>

		<table id ="objects_listing" class="table table-condensed table-bordered table-hover">
			<thead>
			<tr>
				<th>ISO</th>
				<th>Name</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			{% for country in countries %}
				<tr>
					<td><a href="{% url 'settings:countries_update' country.iso %}">{{ country.iso }}</a></td>
					<td>{{ country.name }}</td>
					<td>
						<a id="delete" href="{% url 'settings:countries_delete' country.pk %}">
							<span class="glyphicon glyphicon-remove"></span> Delete
						</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
