{% extends 'tool/_list_as_table.html' %}

{% block title %}Environmental theme list{% endblock %}

{% block content %}

    <div class="container-fluid">
        </br>
        <a class="btn btn-primary" href="{% url 'settings:themes_add' %}">Add new Theme</a>
        </br>

        <table id ="objects_listing" class="table table-condensed table-bordered table-hover">
            <thead>
            <tr>
                <th>Title</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for theme in themes %}
                <tr>
                    <td><a href="{% url 'settings:themes_update' theme.id %}">{{ theme.title }}</a></td>
                    <td>
                        <a id="delete" href="{% url 'settings:themes_delete' theme.id %}">
                            <span class="glyphicon glyphicon-remove"></span> Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
