.link {
    stroke-width: 1.5px;
    stroke: black;
}

.ellipse {
    stroke-width: 1.5px;
    stroke: black;
    fill: white;
}

.node {
    stroke-width: 1.5px;
    stroke: black;
    fill: white;
}

.box-salmon {
    stroke-width: 1px;
    stroke: black;
    fill: salmon;
}


.box-purple {
    stroke-width: 1px;
    stroke: black;
    fill: mediumpurple;
}


.box-pink {
    stroke-width: 1px;
    stroke: black;
    fill: lightpink;
}

.circle {
    stroke-width: 1px;
    stroke: black;
    fill: white;
}

.line {
    stroke-width: 1px;
    stroke: black;
}

.text {
    fill: black;
    stroke-width: 1;
    font-size: 12px;
    text-anchor: middle;
    z-index: 99999999;
}
