.link {
    stroke-width: 1.5px;
    stroke: black;
}

.ellipse {
    stroke-width: 1.5px;
    stroke: black;
    fill: white;
}

.node {
    stroke-width: 1.5px;
    stroke: black;
    fill: white;
}

.d3-box-salmon {
    stroke-width: 1px;
    stroke: black;
    fill: salmon;
}


.d3-box-purple {
    stroke-width: 1px;
    stroke: black;
    fill: mediumpurple;
}


.d3-box-pink {
    stroke-width: 1px;
    stroke: black;
    fill: lightpink;
}

.ellipse {
    stroke-width: 1px;
    stroke: black;
    fill: white;
}

.circle {
    stroke-width: 1px;
    stroke: black;
    fill: white;
}

.line {
    stroke-width: 1px;
    stroke: black;
}

.d3-node-title {
    fill: black;
    text-anchor: middle;
    font: bold;
    z-index: 99999999;
}

.d3-node-subtitle {
    fill: black;
    text-anchor: middle;
    font-size: 12px;
    z-index: 99999999;
}

.launch-node-modal {
    cursor: pointer;
}
