#middle_port h1 {
    padding: 40px 0 0 5px !important;
    margin-top: 0;
}

.dataTables_filter {
    float: right;
}

.filters .first-filter {
    margin-left: 20px;
}
.filters .form-group {
    padding-right: 20px;
}

a.btn-primary{
  color: white !important;
}

div.assessment-content {
    margin-bottom: 25px;
}

#view h2 {
    margin-top: 20px;
    padding: 0;
    font-size: 28px;
}

#view h3 {
    padding: 0;
    font-size: 20px;
}

a#delete {
    color: #A94442 !important;
}

#invisible {
    display: none;
}
