#middle_port h1 {
    padding: 40px 0 0 5px !important;
    margin-top: 0;
}

.dataTables_filter {
    float: right;
}

.filters .first-filter {
    margin-left: 20px;
}
.filters .form-group {
    padding-right: 20px;
}

a.btn-primary{
    color: white !important;
}

a#add-relation{
    margin-left: 5px;
}

div.assessment-content {
    margin-bottom: 25px;
    overflow: hidden;
}

#view h2 {
    margin-top: 20px;
    padding: 0;
    font-size: 28px;
}

#view h3 {
    padding: 0;
    font-size: 20px;
}

a#delete {
    color: #A94442 !important;
}

#invisible {
    display: none;
}

img {
    width: 100%;
    max-width: 800px;
}

.modal-content {
  width: 800px;
  margin-left: -100px;
}
