{% load custom_filters %}

<hr/>
{% assessment_usages object as assessments %}
{% if assessments|length > 1 %}
  <p>Also used in these assessments:</p>
  <ul>
    {% for assessment in assessments %}
      {% ifnotequal assessment current_assessment %}
        <li>
          <a href="{% url 'assessments:detail' assessment.id %}">{{ assessment.title }}</a>
        </li>
      {% endifnotequal %}
    {% endfor %}
  </ul>
{% else %}
	<p><em>This is not used in any other assessment.</em></p>
{% endif %}
