{% load custom_filters %}
{% load widget_tweaks %}

<form method="POST" class="form-horizontal" id="add-form" enctype="multipart/form-data">
	{% csrf_token %}
    {{ form.non_field_errors }}
	{% for field in form %}
		<div class="form-group">
			<label class="col-sm-3 control-label"> {{ field|label }}</label>
			{% if field|label == "Draft" %}
				<div class="col-sm-1">
					{% render_field field class="checkbox" %}
					{{ field.errors }}
				</div>
			{% else %}
				<div class="col-sm-6">
        				{% if field|is_filefield %}
	            				{{ field }}
        				{% else %}
                      {% if field.name|slice:"-4:" == "date" %}
        	    				  {% render_field field class="form-control datetimepicker" %}
                      {% else %}
        	    	  			{% render_field field class="form-control" %}
        				      {% endif %}
        				{% endif %}
        				{{ field.errors }}
				</div>
			{% endif %}
    </div>
	{% endfor %}

  {% if files_form %}
    <div class="form-group">
        {{ files_form.management_form }}
        {{ files_form.non_form_errors }}
        <div id="form_set">
        {% for form_elem in files_form.forms %}
          <label class="col-sm-2 control-label"> File {{ forloop.counter }}</label>
          <p class="controls col-sm-10">
            {{ form_elem.file }}
            {{ form_elem.errors }}
          </p>
          {% for hidden in form_elem.hidden_fields %}
            {{ hidden }}
          {% endfor %}
        {% endfor %}
        </div>
        <label class="col-sm-2 control-label"></label>
        <input type="button" id="extra_form" value="Add more" class="btn btn-primary">
    </div>
  {% endif %}
</form>


<script type="text/template" id="form-template">
    <label class="col-sm-2 control-label">New file</label>
    <p class="controls col-sm-10">
        {{ empty_form.file }}
    </p>
</script>

<script type="text/javascript">
  var formset = {};
  $(function() {
    $('#extra_form').click(function() {
      formset.$total = $('#id_indicatorfiles_set-TOTAL_FORMS');
      formset.$initial = $('#id_indicatorfiles_set-INITIAL_FORMS');
      formset.templateRowStr = $('#form-template').html();

      formset.newTotal = parseInt(formset.$total.val());
      formset.appendRowStr = formset.templateRowStr.replace(/__prefix__/g, formset.newTotal);
      formset.$total.val(formset.newTotal + 1);
      if (formset.newTotal >= 4) {
        document.getElementById('extra_form').style.visibility = 'hidden';
      }
      if (formset.newTotal < 5) {
        $('#form_set').append(formset.appendRowStr);
      }
    });
  });

  $(function() {
    $('.datetimepicker').datetimepicker({
      language: 'en',
      pickTime: false,
      format: 'DD MMMM YYYY',
	});
  });
</script>
