# ASSETS_DEBUG = True

# FRAME_URL = 'http://example.com/flis_templates/frame'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

TEMPLATE_DEBUG = DEBUG

ALLOWED_HOSTS = ['*']
